<!-- Top Header -->
<div id="top_header">
        <div class="wrapper">
            <div class="top_header_con">
            
            <div class="top_list">
                <h3><i class="fa fa-phone"></i>09262662121</h3>
            </div>

            <div class="top_list">
                <h3><i class="fa fa-envelope-open"></i>skyland@company.co</h3>
            </div>

            <div class="top_list">
                <a href="javascript:;">
                <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:;">
                <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:;">
                <i class="fa fa-linkedin"></i>
                </a>
                <a href="javascript:;">
                <i class="fa fa-instagram"></i>
                </a>
                <a href="javascript:;">
                <i class="fa fa-pinterest"></i>
                </a>
            </div>

            </div>
        </div>
    </div>