/*Fonts Used*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
/* end reset */

/*preset*/
body{font-size: 14px; line-height: 22px; font-family: 'Source Sans Pro', sans-serif;  color:#333;}
a{ text-decoration:none; }
img{max-width: 100%; vertical-align: top; image-rendering:-webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}

.wrapper{ width:100%; max-width:1080px; margin:0 auto; position:relative;}

/************************************HOME PAGE**************************************/

.header_nav{position: sticky;top:0;z-index: 1020;}

/* Top Header */
#top_header{background: #fff;}
.top_header_con{text-align: center;padding: 18px 0;}
.top_header_con .top_list{display: inline-block;vertical-align: top;position: relative;font-size: 16px;}
.top_header_con .top_list i{position: absolute;left: -18px;top: 4px;color: #21ab4a;}
.top_header_con .top_list a{padding: 0 12px;position: relative;color: #21ab4a;}
.top_header_con .top_list a:last-child{padding-right:0;}
.top_header_con .top_list:nth-child(2){margin: 0 316px;}

/* Header Area */
header{background: rgba(31,98,142,.97);}
.header_con{padding: 5px 0; }
.logo img{width: 100%; max-width: 65px;}

/* Nav Area */
nav { height: 58px;  position: relative; z-index: 10;float: left;text-align: left;margin-top:-67px;margin-left: 80px;}
nav ul li{display:inline-block; position:relative; margin:0;}
nav ul li:first-child{margin-left:0;}
nav ul li:last-child{margin-right:0;}
nav ul li:after{ content:url('images/nav_spacer.png'); position:absolute; top:11px; right:-4px; }
nav ul li:last-child:after{ content:""; }
nav ul li a{display:block; font-size: 15px; font-weight: light; color:rgba(255,255,255,0.5); text-transform: uppercase; line-height: 58px; padding:0 13px;}
nav ul li a:hover, nav ul li a:active, nav ul li.current_page_item > a, nav ul li a:hover small, nav ul li.current_page_item a small{ color:#fff;}
.active{color: #fff}
.nav_right{margin-top: -57px;margin-left: 735px;}
.nav_right a{padding:0 21px;}
nav i{position: absolute;top: 21px;left: 2px;right: 0;}

/*Sub Menu*/

nav ul li:hover > ul { display: block; visibility: visible; }
nav ul ul { display:none; margin:0; padding:0; position:absolute; top:100%; left:0; z-index:999; }
nav ul ul ul { left:100%; top: 0; }
nav ul ul li{display: block; width: 100%; margin: 0;}
nav ul ul li a { background: #353535; width: 150px; margin: auto; height: auto; display: block; padding: 0; text-indent: 15px; border-bottom: 1px solid; line-height: 40px;text-align: left;}

/* Drop down icon */
nav span{ position:absolute; right:0; top:0; display:none; padding:0; cursor:pointer; z-index:9; color: #fff;}
.fa:before{position: absolute;}

/* Navigation bar icon */
.nav_toggle_button{width:100%; display:none; color:#ffc180; background:#770008; margin:0 auto; padding:10px 15px; text-align:left; font-weight: bold; position: relative;}
.nav_toggle_button i{cursor: pointer;}
.fa{display:block;  }

/* Banner Area */
#banner{background: url(images/thnb_bg.jpg)no-repeat center top fixed;min-height: 655px;}
#non_home_banner{background: url(images/non_home_banner.jpg)no-repeat center bottom fixed;min-height: 255px;position: relative;}
#non_home_banner:before{content: "";background: rgba(39, 195, 85, 0.8);bottom:0;left:0;right:0;min-height: auto;position: absolute;top: 0;}
.banner_con{min-height: 556px;padding-top: 95px;}
.non_home_banner_con{min-height: auto;text-align: center;color: #fff;padding-top: 72px;}
.non_home_banner_con h3{font-size: 65px;text-shadow: 1px 2px 6px #000;}
.non_home_banner_con p{font-size: 19px;padding: 31px 153px 0;text-shadow: 1px 2px 6px #000;}


.bnr_info{background: rgba(0,0,0,.7);    width: 100%; padding: 50px 10px;  text-align: center; z-index: 22;color: #fff;border: 1px solid #fff;}
.upper_forms input, .upper_forms select{width: 30.1%;border: 1px solid #ddc5c5;border-radius: 4px;padding: 10px;margin: 0 3px;}
.lower_forms{margin: 16px 0 30px;}
.lower_forms select{width: 45.6%;border: 1px solid #f3ebeb;border-radius: 4px;padding: 10px;margin: 0 3px;}
.search_submit button{background: #21ab4a;border: none;border-radius: 4px;width: 92.1%;padding: 13px;color: #fff;font-weight: bold;font-size: 16px;}
.search_submit button:hover{background: #148d38; transition: .4s}
.above_info h3{font-size: 64px;font-weight: bold;margin: 7px 0 44px;}
.above_info p{font-size: 24px;padding: 0 101px 40px;}

/* Latest Listings */
#latest_listings{background: #fff;}
.latest_listings_con{padding: 44px 0 0;text-align: left;font-size: 0;}
.latest_listings_con section{display: inline-block;vertical-align: top;width: 31.1%;border-radius: 4px;overflow: hidden;border: 1px solid #ccc;margin-bottom: 38px;}
.list_price{position: absolute;}
.list_price h3{font-size: 19px;background: rgba(39, 195, 85, 0.5);color: #fff;padding: 5px 12px;border-radius: 6px 0;margin: 5px;border: 1px solid #fff;}
.list_img{width: 100%;height: 185px;overflow: hidden;}
.list_heading{text-align: center;}
.list_heading h3{font-size: 43px;font-weight: bold;margin-bottom: 38px;}
.list_title h3{text-align: center;font-size: 26px;color: #1f628e;padding: 22px 0 4px;}
.list_address{padding: 0 10px;}
.list_address i{position: absolute;top: -1px;left: 73px;font-size: 22px;color: #21ab4a;}
.list_address h3{text-align: center;position: relative;font-size: 16px;margin: 3px auto 0;padding-bottom: 25px;border-bottom: 1px solid #ccc;}
.list_amenities{padding: 24px 0 0;border-bottom: 1px solid #ccc;border-bottom-style: dashed;}
.list_amenities i{position: absolute;top: 3px;left: 3px;}
.list_amenities ul{text-align: center;}
.list_amenities ul li{display: inline-block;vertical-align: top;width: 45%;text-align: left;margin: 0 0 21px;font-size: 16px;color: #21ab4a;position: relative;padding-left: 26px;}
.list_realtor h3{font-size: 18px;color: #21ab4a;padding: 20px 42px 0;position: relative;text-align: left;}
.list_realtor i{position: absolute;top: 21px;left: 22px;}
.list_date{border-bottom: 1px dashed #ccc;}
.list_date h3{font-size: 18px;color: #21ab4a;padding: 3px 42px 20px;position: relative;text-align: left;}
.list_date i{position: absolute;top:5px;left: 22px;}
.list_submit a{display: block;background: #1f628e;color: #fff;text-align: center;font-size: 21px;padding: 8px 0;}
.list_submit a:hover{background: #114568; transition: .4s}
.latest_listings_con section:nth-child(3n+3) {margin: 0 36px;}

/* Bottom Area */
#bottom1{background: url(images/bottom1_bg.jpg)center bottom no-repeat fixed;position: relative;}
#bottom1:before{content: "";background: rgba(39, 195, 85, 0.8);top:0;left:0;right:0;min-height: 350px;position: absolute;}
.bottom1_con{min-height: 350px;color: #fff;text-align: center;font-size: 0;padding-top: 50px;}
.bottom1_con section{display: inline-block;vertical-align: top;width: 30%;text-align: center;position: relative;padding-top: 100px;}
.bottom1_con section h3{font-size: 31px;font-weight: bold;margin-bottom: 15px;text-shadow: 1px 2px 6px #000;}
.bottom1_con section p{font-size: 16px;padding: 0 8px;line-height: 25px;text-shadow: 1px 0px 6px #000;}
.bottom1_con section i{font-size: 78px;position: absolute;top: 0;right: 83px;left: 0;}
.bottom1_con section:nth-child(2){margin: 0 54px;}

/* Footer Area */
footer{background: #1f628e;}
.footer_con{text-align: center;padding: 25px 10px;color: #fff;}
.footer_con h3{font-size: 17px;}

/*********************************ABOUT PAGE*********************************/

/* Breadcrumbs */
.breadcrumbs_con{padding: 25px 0;}
.bc_link_container{background: #ccc;border-radius: 6px;padding:17px 20px;}
.bc_link_container li{display: inline-block;vertical-align: top;font-size: 18px;color: #8c8282;position: relative;margin-right: 39px;}
.bc_link_container li:first-child:before{display: none}
.bc_link_container li:before{content: "/";position: absolute;left:-25px;font-size: 24px;font-weight: lighter;top: -2px;}
.bc_link_container a{display: block;color: #1f628e;}
.bc_link_container a:hover{text-decoration: underline;}

/* About Main Area */
.main_con{min-height: 680px;}
main{float: left; width: 675px; line-height: 28px; max-width: 100%;}
main .h1_title{font-size: 24px; font-weight: bold; margin-bottom:15px;}
main .h1_title span{font-size: 18px; font-weight: normal; display: block;}
main p{text-align: justify; margin-bottom:15px;}
main ol{padding-left: 35px; margin-bottom: 15px;}
main ul {margin-bottom: 15px;}
main ul li{padding:0 10px 0 20px; text-align: left; position: relative;}
main .bullet {padding:0 0 0 15px;}
main .bullet li:before{position: absolute; content: ""; top: 10px; left: 0; width: 13px; height: 13px; background: #fff; border-radius: 50%; border: 3px solid #338055;}
main a{font-weight: bold; color: #4ba9cf;}
main a:hover{text-decoration: underline;}

/* About Sidebar Area */
.sidebar{float: right; width: 372px;}
.side_box1{background: aqua; padding: 10px;}
.side_box1 li{display: block; margin: 0 0 10px; background: palevioletred;}
.side_box1 li a{color: #fff; display: block; line-height: 30px; text-align: center;}

.side_box2{background: turquoise; padding: 10px;}

.sidebar section{border: 1px solid #1f628e;padding: 10px;border-radius: 4px;}
.about_side_img{width: 100%;height: 341px;overflow: hidden;}
.about_side_title h3{font-size: 17px;color: #000;padding: 5px 0;}
.about_side_realtor h3{font-size: 19px;color: #21ab4a;padding: 5px 0;}
.about_side_realtor_description p{font-size: 14px;color: #000;padding: 5px 0;}

.listing_side_submit button{width: 100%;border: none;display: block;background: #1f628e;color: #fff;text-align: center;font-size: 21px;padding: 10px 0;border-radius: 5px;margin: 12px 0 0;}
.listing_side_submit button:hover{background: #114568; transition: .4s}

/* About Bottom Area */
#about_bottom{background: url(images/about_bottom_img.png)center bottom no-repeat fixed,#6b747d;}
.about_bottom_con{text-align: center;padding: 65px 10px 56px;}
.about_bottom_con h3{font-size: 70px;font-weight: bold;color: #fff;text-shadow: 1px 2px 6px #000;}
.about_bottom_con p{font-size: 20px;padding: 36px 83px 25px;color: #fff;text-shadow: 1px 2px 2px #000;}
.about_bottom_con a{background: #21ab4a;display: block;margin:0 auto;color: #fff;width: 276px;padding: 13px 0;font-size: 18px;border-radius: 4px;font-weight: bold;}
.about_bottom_con a:hover{background: #158135;transition: .4s}

.about_bottom2_con{text-align: center;padding: 50px 0 26px;font-size: 0;}
.about_bottom2_con h2{font-size: 43px;font-weight: bold;margin-bottom: 38px;}
.btm2_team section{display: inline-block;vertical-align: top;width: 29%;}
.btm2_img_con{height: 302px;overflow: hidden;border-radius: 116px;}
.btm2_team section img{display: block;}
.btm2_team section h3{display: block;font-size: 30px;font-weight: bold;color: #1f628e;padding: 20px 0 8px;}
.btm2_team section span{display: block;font-size: 18px;color: #21ab4a;padding-bottom: 15px;}
.btm2_team section small{display: block;font-size: 19px;border-top: 1px solid #ccc;padding: 41px 0 0;}
.btm2_team section q{font-size: 19px;padding-top: 8px;display: block;}
.btm2_team section:nth-child(3n+2) {margin: 0 70px 21px;}

/* Listings Page */
#listings{background: #fff;}
.back_listings a{font-size: 18px;width: 169px;display: block;background: #e4dddd;border-radius: 5px;color: #000;text-align: center;padding: 10px 0;margin: 0 0 25px;}
.back_listings a:hover{transition: .4s;;background: #b1aaaa}
.listings_con{padding: 10px 0 0;text-align: left;font-size: 0;}
.listings_con section{display: inline-block;vertical-align: top;width: 31.1%;border-radius: 4px;overflow: hidden;border: 1px solid #ccc;margin-bottom: 38px;}
.list_price{position: absolute;}
.list_price h3{font-size: 19px;background: rgba(39, 195, 85, 0.7);color: #fff;padding: 5px 12px;border-radius: 6px 0;margin: 5px;border: 1px solid #fff;font-weight: bold;}
.list_img{width: 100%;height: 185px;overflow: hidden;}
.list_title h3{text-align: center;font-size: 26px;color: #1f628e;padding: 22px 0 4px;}
.list_address{padding: 0 10px;}
.list_address i{position: absolute;top: -1px;left: 0;font-size: 22px;color: #b6dbc1;}
.list_address h3{text-align: center;position: relative;font-size: 16px;margin: 3px auto 0;padding-bottom: 25px;border-bottom: 1px solid #ccc;}
.list_amenities{padding: 24px 0 0;border-bottom: 1px solid #ccc;border-bottom-style: dashed;}
.list_amenities i{position: absolute;top: 3px;left: 3px;}
.list_amenities ul{text-align: center;}
.list_amenities ul li{display: inline-block;vertical-align: top;width: 45%;text-align: left;margin: 0 0 21px;font-size: 16px;color: #21ab4a;position: relative;padding-left: 26px;}
.list_realtor h3{font-size: 18px;color: #21ab4a;padding: 20px 42px 0;position: relative;text-align: left;}
.list_realtor i{position: absolute;top: 21px;left: 22px;}
.list_date{border-bottom: 1px dashed #ccc;}
.list_date h3{font-size: 18px;color: #21ab4a;padding: 3px 42px 20px;position: relative;text-align: left;}
.list_date i{position: absolute;top:5px;left: 22px;}
.list_submit a{display: block;background: #1f628e;color: #fff;text-align: center;font-size: 21px;padding: 8px 0;}
.list_submit a:hover{background: #114568; transition: .4s}
.listings_con section:nth-child(3n+2) {margin: 0 36px;}

/* Listing Page */
.listing_amenities{padding: 24px 0 0;}
.listing_amenities i{position: absolute;top: 7px;left: 3px;}
.listing_amenities ul{text-align: left;}
.listing_amenities ul li{display: inline-block;vertical-align: top;width: 47%;text-align: left;margin: 0 0 21px;font-size: 16px;color: #21ab4a;position: relative;padding-left: 26px;border-bottom: 1px solid #ccc;margin-right: 36px;}
.listing_amenities ul li:nth-child(2n+2) {margin-right:0;}
.listing_amenities ul li span{float: right;font-weight: bold;font-size: 18px;}
.listing_below_images{font-size: 0;text-align: center;}
.listing_below_images a{display: inline-block;vertical-align: top;width: 15.4%;margin: 10px 3px;}

/* Search Area */
.listings_search_con{padding: 30px 0;}
.listings_search_con .bnr_info{background: rgba(0,0,0,.5);border-radius: 5px;border: 2px solid #fff;}
.listings_search_con .search_submit button{background: #266792}
.listings_search_con .search_submit button:hover{background: #19415c}

.step-links{font-size: 20px!important}

/* Register Area */
.register_con{text-align: center;padding: 45px 10px;}
.register_form_con{width: 596px;margin: 0 auto;border: 1px solid #1f628e;text-align: left;}
.register_heading{background: #1f628e;padding: 19px 0;}
.register_heading h3{color: #fff;font-size: 29px;font-weight: bold;padding-left: 51px;}
.register_heading h3 i{float: left;margin-left: -39px;margin-top: -3px;}
.register_form{padding: 17px 17px 0;}
.register_form label{font-size: 20px;color: #000;}
.register_form input{display: block;width: 100%;padding: 10px 0;border-radius: 4px;border: 1px solid #8499a7;margin-bottom: 20px;font-size: 18px;text-indent: 10px;}
.register_form input[type="submit"]{background: #21ab4a;color: #fff;}
.register_form input[type="submit"]:hover{background: #258c43;transition: .4s}

/* Register Area */
.login_con{text-align: center;padding: 71px 10px;}
.login_form_con{width: 596px;margin: 0 auto;border: 1px solid #1f628e;text-align: left;}
.login_heading{background: #1f628e;padding: 22px 0;}
.login_heading h3{color: #fff;font-size: 29px;font-weight: bold;padding-left: 51px;}
.login_heading h3 i{float: left;margin-left: -39px;margin-top: -3px;}
.login_form{padding: 17px 17px 0;}
.login_form label{font-size: 20px;color: #000;}
.login_form input{display: block;width: 100%;padding: 10px 0;border-radius: 4px;border: 1px solid #8499a7;margin-bottom: 20px;font-size: 18px;text-indent: 10px;}
.login_form input[type="submit"]{background: #21ab4a;color: #fff;}
.login_form input[type="submit"]:hover{background: #258c43;transition: .4s}
.danger{display: block;font-size: 22px;padding: 14px 19px;background: #efaaaa;margin-bottom: 15px;color: #c53434;border-radius: 4px;text-align: center}
.success{display: block;font-size: 22px;padding: 14px 19px;background: #b4efaa;margin-bottom: 15px;color: #34c568;border-radius: 4px;text-align: center}

/* Dashboard */
.dashboard_con{padding: 10px 0 35px;}
.dashboard_welcome h3{font-size: 39px;font-weight: bold;}
.dashboard_welcome p{font-size: 20px;padding: 10px 0 20px;}
.dashboard_list_heading{font-size: 0;}
.dashboard_list_heading ul li{display: inline-block;vertical-align: top;font-size: 20px;font-weight: bold;width: 33%;border: 1px solid #ccc;padding: 7px 9px;}
.dashboard_list{font-size: 0;}
.dashboard_list ul li{display: inline-block;vertical-align: top;font-size: 18px;width: 33%;border: 1px solid #ccc;padding: 11px 9px;line-height: 37px;}
.dashboard_list ul li a{background: #1f628e;color: #fff;text-transform: uppercase;font-weight: bold;display: block;width: 169px;text-align: center;margin: 0 auto;border-radius: 5px;}
.dashboard_list ul li a:hover{background: #174f74;transition: .4s}

/* Inquiry Form */
.inquiry_con{text-align: center;padding: 45px 10px;}
.inquiry_form_con{width: 516px;margin: 0 auto;border: 1px solid #1f628e;text-align: left;background: rgba(255,255,255,.8);}
.inquiry_heading{background: #21ab4a;padding: 19px 0;position: relative;}
.inquiry_heading h3{color: #fff;font-size: 29px;font-weight: bold;padding-left: 51px;}
.inquiry_heading h3 i{float: left;margin-left: -39px;margin-top: -3px;}
.inquiry_form{padding: 17px 17px 0;}
.inquiry_form label{font-size: 20px;color: #000;}
.inquiry_form input{display: block;width: 100%;padding: 10px 0;border-radius: 4px;border: 1px solid #8499a7;margin-bottom: 20px;font-size: 18px;text-indent: 10px;}
.inquiry_form input[type="submit"]{background: #1f628e;color: #fff;}
.inquiry_form input[type="submit"]:hover{background: #1b4967;transition: .4s}
.inquiry_form textarea{display: block;width: 100%;padding: 10px 0;border-radius: 4px;border: 1px solid #8499a7;margin-bottom: 20px;font-size: 18px;text-indent: 10px;}
#inquiry_modal{position: fixed;top: 0;background: rgba(0,0,0,.8);width: 100%;z-index: 1022;height: 100%;padding: 21px 0;display: none}
.close{position: absolute;top: 17px;right: 34px;color: #fff;font-size: 20px !important;cursor: pointer;}
.close:hover{opacity: .4; transition: .4s}